body {
    margin: 0px;
    background: #2a0867;
    color: #b371f4
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

#content {
    border: 1px solid #b371f4;
    padding: 10px;
}

.dootdoot {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #b371f4;
}

#footer {
    border: 1px solid #b371f4;
    padding: 10px;
}

.fullwidth {
    font-family: monospace;
    font-style: unset;
}

h1 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 80px 0px 0px 0px;
    border: 1px solid #b371f4;
}

a {
    color: #b371f4;
}

img {
    width: 25%;
}

#navigation {
    border: 1px solid #b371f4;
    position: fixed;
    background-color: #2a0867;
    width: 100%;
    top: 0;
    right: 0;
}

#navigation li {
    display: inline;
}

#shiny {
    font-weight: bolder;
    color: #b371f4;
    background-color: darkgreen;
}

ul {
    font-weight: bold;
    color: #b371f4;
}